<div class="main">
    <h1>CADASTRO</h1>
    <div class="grupo">
        <input type="text" class="form" id="username"  placeholder="Nome">
    </div>
    <div class="grupo">
        <input type="text" class="form" id="username"  placeholder="Idade">
    </div>
    <div class="grupo">
        <input type="text" class="form" id="username"  placeholder="Raça">
    </div>
    <div class="grupo">
        <input type="text" class="form" id="username"  placeholder="Usuario">
    </div>
    <div>
        <input type="password" class="form" id="password" placeholder="Senha">
    </div>
    <div class="grupo">
        <input type="text" class="form" id="username"  placeholder="LinkFoto">
    </div>
    <button class="botao">Login</button>
</div>
  